@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    ViewBag.Title = "Comic Book Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>

        <h2>@ViewBag.Description</h2>
        <ul>

            @foreach (var artist in @ViewBag.Artists)
            {
                <li>@artist</li>
            }

        </ul>
    </div>
</body>
</html>
