@{
    Layout = null;
    var title = "hola";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        <p>@title</p>
    </div>
</body>
</html>
